#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
h1, h2{
    text-align: center;
}
h1{ font-size: 45px ;
    color: rgb(185, 115, 225);
    border-bottom:1px solid gray;
    margin: 0;
    padding: 20px;
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
ol{ 
    list-style-type: "_";
    border-right: 1px solid gray;
    width: 120px;
    margin: 0;
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
}
@media(max-width:530px){
    #grid{
        display: block;

    }
    ol{ 
        text-align: center;
        list-style: none;
        border-right: none;
        border-bottom: 1px solid gray;
    }
}



